/* Lists */
.center-wrapper{
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

/* Rating */
.heart{
  color: #F44336;
  padding-top: 1em;
  padding-right: 0.1em;
  padding-bottom: 1em;
}

.ratings-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

/* Trailer */
.embed-container {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* React Transition */
.news-enter {
  opacity: 0.01;
}

.news-enter.news-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.news-leave {
  opacity: 1;
}

.news-leave.news-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.news-appear {
  opacity: 0.01;
}

.news-appear.news-appear-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

/* Countdown-clock */
@font-face {
  font-family: 'Rationale';
  font-style: normal;
  font-weight: 400;
  src: local('Rationale'), local('Rationale-Regular'), url(https://fonts.gstatic.com/s/rationale/v7/ib3SKjmqWGRJiAg_LgKWiVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.countdown-clock {
  font-family: 'Rationale', serif;
  font-size: 2em;
  color: #76ff03;
  font-weight: bold;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto 1em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}



@media all and (max-width: 470px) and (min-width: 365px){
  .countdown-clock {
    width: 70%;
  }
}

@media all and (max-width: 365px){
  .countdown-clock {
    width: 80%;
  }
}

@media all and (max-width: 315px){
  .countdown-clock {
    width: 100%;
  }
}

.countdown-clock > div{
  padding: 10px;
  margin: 0 3px;
  border-radius: 3px;
  box-sizing: border-box;
  background: #33691e;
  display: inline-block;
  margin-top: 10px;
}

.countdown-clock div > span{
  padding: 15px;
  border-radius: 3px;
  background: black;
  box-sizing: border-box;
  width: 80px;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

/**
* MATERIAL ICONS
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v8/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Rules for sizing the icon.*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background.*/
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background.*/
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }