.film-cover, .card-text{
  width: 60%;
  margin-left: 5%;
}

li{
  list-style: none;
}

.movie-title{
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10%;
  margin-right: 10%;
  vertical-align: top;
  font-family: 'Roboto Slab', serif;
}

.post-icon{
  margin-top: 2px;
  text-align: left;
  margin-right: 10px;
  color: white;
}

.post-icon button{
  border: none;
}

.post-collections-icon{
 background-color: #00796B;
 margin-right: 6px;
}
.post-history-icon{
  background-color: #512DA8;
  margin-right: 6px;
}
.post-list-icon{
  background-color: #F44336;
}

.card-text{
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

.center-wrapper{
  text-align: center;
}

/**
* MATERIAL ICONS
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v8/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }